[user]
	name = U1and0
	email = e01.ando60@gmail.com
[color]
	ui = true
	diff = auto
	status = auto
	branch = auto
	interactive = true
[core]
	autoCRLF = false
	whitespace = cr-at-eol
	excludesfile = ~/.globalgitignore
	symlinks = true
	quotepath = false
[pack]
	packSizeLimit = 2g
[diff]
	renames = true
[rebase]
	autosquash = true
[gui]
	encoding = utf-8
[alias]
	# ========Useful========
	today = log --oneline --since='12 hour ago'  # 一日の作業振り返る
	sort = for-each-ref --sort=committerdate refs/ --format='%(HEAD) %(color:yellow)%(refname:short)%(color:reset) - %(color:red)%(objectname:short)%(color:reset) - %(contents:subject) - %(authorname) (%(color:green)%(committerdate:relative)%(color:reset))'  # Display branch info
	alias = config --get-regexp alias.*  # Display alias list
	zip = !git archive --format=zip HEAD > `git symbolic-ref --short HEAD`.zip  # Archive HEAD as zip
	# ========add, commit, push========
	aa = !git add .
	an = !git add -n .
	aundo = reset HEAD
	ac = commit -am
	c = commit -m
	cundo = commit --amend
	po = push origin
	# ========branch========
	b = branch
	# ========ENCODE ERROR========
	 logs = log --encoding=sjis
	shows = show --encoding=sjis
