[user]
	name = U1and0
	email = e01.ando60@gmail.com
[color]
	ui = true
	diff = auto
	status = auto
	branch = auto
	interactive = true
[core]
	autoCRLF = false
	whitespace = cr-at-eol
	excludesfile = ~/.globalgitignore
	quotepath = false
[pack]
	packSizeLimit = 2g
[diff]
	renames = true
[rebase]
	autosquash = true
[gui]
	encoding = utf-8
